<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%/site/wwwroot/antenv/bin/python" arguments="-m streamlit run app.py --server.port %HTTP_PLATFORM_PORT% --server.address 0.0.0.0" stdoutLogEnabled="true" stdoutLogFile="%home%/LogFiles/stdout" startupTimeLimit="120">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
